.createGroupBtnWrapper {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 10;
}

.actionIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

  span {
    font-size: 24px;
    color: #fff;
  }
}