.chatListHeader {
  height: var(--navbar-height);
  min-width: 100vw;
  background-color: var(--header-color);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  padding: 5px 10px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;

  .headerButton {
    background-color: transparent;
    height: 80%;
    width: 40%;
    border-radius: 50%;

    :hover {
      background-color: rgba(0, 0, 0, 0.07);
    }
  }
}