.chatListHeader {
  height: var(--navbar-height);
  width: 100%;
  background-color: var(--header-color);
  box-shadow: var(--shadow-header);
  padding: 5px 10px;
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  gap: 10px;
}

.leftSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.headerButton {
  background-color: transparent;
  padding: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: relative;
  border: none;
  min-width: unset;

  &:hover {
    background-color: var(--hover-strong);
  }
}

.arrowImage {
  padding: 8px;
  object-fit: contain;
}

.avatarLink {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.1s ease;

  &:hover {
    transform: scale(1.05);
  }
}