.chatList {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - var(--navbar-height));
  overflow-y: scroll;
  gap: 0;

  .emptyChatList {
    font: var(--font-m);
    margin: auto;
  }
}