.modalContent {
  overflow: hidden;
}

.list {
  display: flex;
  flex-direction: column;
}

.chatOption {
  width: 100%;
  padding: 10px 16px;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: var(--hover-menu);
  }

  &:active {
    background-color: var(--tap-overlay);
  }
}

.chatName {
  flex: 1;
  font-size: 0.95rem;
}