.link {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
}

.chatItem {
  width: 100%;
  height: var(--list-item-height);
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto;
  column-gap: 12px;
  row-gap: 2px;
  padding: 8px 12px;
  border-bottom: 1px solid #f1f1f1;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }

  & > :first-child {
    grid-row: 1 / 3;
  }

  .chatName {
    grid-column: 2;
    grid-row: 1;
    font: var(--font-m);
    font-weight: 600;
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .time {
    grid-column: 3;
    grid-row: 1;
    color: #828282;
    font-size: 0.75rem;
    justify-self: end;
    white-space: nowrap;
  }

  .lastMessage {
    grid-column: 2 / 4;
    grid-row: 2;
    font-size: 0.9rem;
    color: #969696;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2;
  }
}