.modalInner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.modalContent {
  border-radius: 16px;
  overflow: visible;
  width: 100%;
  max-width: 420px;
  margin-inline: auto;
  flex: 0 1 auto;
}

.modalHeader {
  border-radius: 16px;
  padding: 20px 20px 0 20px;
}

.modalTitle {
  font: var(--font-m);
}

.modalBody {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.fieldGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-weight: 600;
  font-size: 14px;
}

.selectedUsersList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 5px;
}

.userBadge {
  text-transform: none;
  height: 28px;
  padding-left: 4px;
}

.searchWrapper {
  position: relative;
}

.resultsDropdown {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: var(--dropdown-bg);
  border-radius: 8px;
  box-shadow: var(--dropdown-shadow);
  max-height: 200px;
  overflow-y: auto;
}

.resultItem {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;

  &:hover {
    background-color: var(--mantine-color-blue-0);

    & p {
      color: var(--mantine-color-blue-7);
    }
  }

  & p {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
  }
}

.modalBtn {
  font-weight: 600;
}