.chatHeader {
  min-width: 100vw;
  min-height: var(--navbar-height);
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  gap: 20px;
  align-items: center;
  padding: 0 5px;
  background-color: var(--header-color);

  .toChatsBtn {
    border-radius: 50%;
    background-color: inherit;
  }

  .chatName {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font: var(--font-m);
  }

  .menuWrapper {
    justify-self: end;
    padding-right: 10px;
  }
}