.userSearchResult {
  height: calc(100vh - var(--navbar-height));
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  .userSearchResultItem {
    height: var(--list-item-height);
    flex-shrink: 0;
    cursor: pointer;
    border-bottom: 1px solid var(--border-list);
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0 15px;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: var(--hover-row);
    }

    p, span {
      font: var(--font-m);
      font-weight: 500;
      color: var(--text-strong);
    }
  }

  .notFound {
    font: var(--font-m);
    margin: auto;
    color: var(--text-secondary);
  }
}