.layoutWrapper {
  display: flex;
  height: var(--app-height);
  max-height: var(--app-height);
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.mainContent {
  flex: 1;
  min-width: 0;
  min-height: 0;
  height: 100%;
  position: relative;
  background-color: var(--main-content-bg);
  z-index: 5;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  @media (max-width: 768px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--app-height);
    max-height: var(--app-height);
    z-index: 20;
    display: none;

    &.active {
      display: flex;
    }
  }
}